# CMake / build output
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
CPackConfig.cmake
CPackSourceConfig.cmake
build/
build*/
cmake-build-*/
out/
Debug/
Release/
bin/
obj/
*.vcxproj.user
*.sln.docstates
*.user
*.userosscache
*.suo
*.pdb
*.ilk
*.aps
*.ncb
*.opendb
*.sdf
*.cache
*.tlog
*.log
*.tmp

# IDEs
.vscode/
.vs/
.idea/
*.code-workspace

# Native binaries / libs
*.exe
*.dll
*.lib
*.a
*.so
*.dylib

# CLion
# JetBrains specific template is maintained in a separate JetBrains.gitignore that can
# be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# and can be added to the global gitignore or merged into this file.
# For a more nuclear option (not recommended), uncomment the following:
# .idea/
